#szuresEsRendezes {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 8fr;
  gap: 20px;
  margin-left: 12.5%;
}
.card {
  border: 2px solid black;
/*   margin: 10px; */
}
.article{
   margin: 10px; 
   gap: 20px;
}

aside{
  border-radius: 20px;
  border: 2px solid black;
  width: 45%;
}
.kosarKep{
  width: 50%;
  min-width: 60px;
}
.kosarOszlop{
  width: 40%;
  
}
.darabInput{
  width: 45px;
}
.vegosszeg{
  float: right;
}
.vasarlasGomb, .rendelesGomb{
  margin-top: 80px;
}
td{
  vertical-align: middle;
}
.form-control{
  margin-bottom: 10px;
}

@media only screen and (max-width: 766px){
  #szuresEsRendezes {
    margin: 20px;
  }

}